---
Checks: >
  -*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  clang-analyzer-*,
  -readability-magic-numbers,
  -readability-identifier-naming,
  -readability-identifier-length,
  -misc-non-private-member-variables-in-classes